%h3 Your Bakery

.bakery-nav
  = link_to "View your ovens", ovens_path

%br

.store-inventory
  Cookies for sale:
  %ul
    - current_user.stored_cookies.group_by(&:filling_words).each_pair do |filling_words, cookies|
      %li
        = pluralize(cookies.count, "Cookie")
        with
        = filling_words
    
